.note-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px 0 15px;
}

#add-note-icon {
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

#add-note-icon:hover {
  background-color: rgba(233, 233, 233, 0.7);
}

.note-search-wrap {
  display: flex;
  align-items: center;
}

#search-note-icon {
  padding: 5px;
  border-radius: 5px;
}

#search-note-icon:hover {
  background-color: rgba(233, 233, 233, 0.7);
}

.note-search-form {
  display: flex;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  width: 0px;
  border: 2px solid rgba(233, 233, 233, 0.7);
  border-radius: 8px;
  padding: 5px;
  transform: scale(0);
  transition: all ease 0.2s;
}

.note-search-form.show {
  visibility: visible;
  opacity: 1;
  width: 200px;
  transform: scale(1);
}

.note-search-form:focus {
  border: 2px solid var(--color-base);
}

.note-search-input {
  outline: none;
  border: none;
}

.note {
  position: relative;
  height: 100%;
  padding: 20px;
}

.note textarea {
  all: unset;
  resize: none;
}

textarea.note-title {
  font-size: var(--font-size-title);
  width: 100%;
  height: 30px;
}

textarea.note-content {
  width: 100%;
  height: 100%;
  border: unset;
  resize: none;
}

.note textarea:focus {
  outline: none;
}

.note-submit-btn {
  all: unset;
  position: absolute;
  right: 70px;
  bottom: 50px;

  width: 100px;
  height: 50px;
  text-align: center;
  border-radius: 12px;

  background-color: rgba(224, 224, 224, 0.5);
  cursor: pointer;
}

.note-submit-btn:hover {
  background-color: rgba(224, 224, 224);
}

.note__title {
  font-size: var(--font-size-title);
  height: 30px;
}

.note-createdAt {
  text-align: center;
  font-size: var(--font-size-text);
  color: var(--color-gray);
}
