.notes-item {
  padding: 10px;
  cursor: pointer;
  border-radius: 12px;
}

.notes-item__title {
  font-weight: 500;
}

.notes-item__directory {
  font-weight: 300;
}

.notes-item.clicked {
  background-color: var(--color-point);
}

.notes {
  padding: 10px;
}
