.notes-header {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 0 15px 0 15px;
}

#note-delete-icon {
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
}

#note-delete-icon:hover {
  background-color: rgba(233, 233, 233, 0.7);
}

.notes-item {
  padding: 10px;
  cursor: pointer;
  border-radius: 12px;
}

.notes-item__title {
  font-weight: 500;
}

.notes-item__info {
  font-size: var(--font-size-small);
  color: var(--color-gray);
}

.notes-item__folder-title {
  font-size: var(--font-size-small);
  color: var(--color-gray);
}

.notes-item.clicked {
  background-color: var(--color-point);
}

.notes {
  padding: 10px;
}

.notes-item__folder {
  display: flex;
}

.notes-item__folder img {
  width: 16px;
  height: 16px;
  padding-right: 5px;
}
