.notes-item {
  padding: 10px;
  cursor: pointer;
  border-radius: 12px;
}

.notes-item__title {
  font-weight: 500;
}

.notes-item__folder {
  font-weight: 300;
}

.notes-item.clicked {
  background-color: var(--color-point);
}

.notes {
  padding: 10px;
}

.new-folder-btn {
  all: unset;
  cursor: pointer;
  padding: 5px;
  color: rgb(109, 109, 109);
}
