@import url(./layout.css);
@import url(./directories.css);
@import url(./notes.css);
@import url(./note.css);

/* ===== 변수 설정 ===== */
:root {
  --color-background: #f9f9f9;
  --color-point: #ffe187;
  --color-border: #d1d1d1;
  --font-size-title: 19px;
  --font-size-text: 16px;
}

/* ===== 리셋 ===== */

* {
  font-size: var(--font-size-text);
}
body {
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: normal;
  margin: 0;
}

p {
  margin: 0;
}

strong,
em {
  font-weight: inherit;
  font-style: normal;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  width: 20px;
  height: 20px;
}
